#sidebarMenu {
    background: linear-gradient(135deg, #8e2de2, #ff6a00);
}
.titlePage {
    font-size: 24px;
    font-weight: bold;
}
.nav-item {
    list-style: none;
    margin: 16px 0;
}

.nav-item.icon i {
    font-size: 28px;
}

.nav-link {
    text-decoration: none;
    color: white !important;
    padding: 8px 12px;
    display: block;
    font-size: 18px;
}

.nav-link:hover {
    color: white !important;
    background-color: rgba(255, 255, 255, 0.1);
    text-decoration: none;
}


.nav-link.active {
    font-weight: bold;
    color: #fff !important;
    background-color: rgba(255, 255, 255, 0.2);
}

#sidebarMenu::-webkit-scrollbar {
    width: 6px;
}
#sidebarMenu::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
}