# Build output and compiled files
/target/
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear

# IDE configuration files
.idea/
*.iml
*.iws
.project
.classpath
.settings

# VS Code files
.vscode/

# Secret files
application-secret.properties
.env